.products-carousel {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: fit-content;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 12px;
}

.products-carousel .products-carousel--title {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  letter-spacing: -0.0050em;
  margin: 24px 0;
}

@media (min-width: 768px) {
  .products-carousel {  
    padding: 50px 24px;
  }
}

// Swiper Styles

.swiper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  width: 300px !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
  justify-content: center;
  align-items: center;
  top: 227px !important;
  background-color: white !important;
  height: 36px !important;
  width: 36px !important;
  border-radius: 50% !important;
  box-shadow: 1px 2px 4px #0000001f !important;
}
.swiper-button-disabled {
  opacity: 1 !important;
  pointer-events: auto !important;
}
.swiper-button-disabled.swiper-button-prev:after,
.swiper-button-disabled.swiper-button-next:after {
  opacity: 0.24;
}
.swiper-button-next:after {
  font-size: 12px !important;
  color: #111111;
  transform: translateX(1px);
}
.swiper-button-prev:after {
  font-size: 12px !important;
  color: #111111;
  transform: translateX(-1px);
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex !important;
  }
  .swiper-slide {
  width: 330px !important;
}
}


