.product-image {
  position: relative;
}
.product-image .product-tag {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #BC0000;
  color: white;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 4px 12px;
}
.product-title {
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  font-size: 18px;
  color: #111111;
  margin-top: 24px;
  margin-bottom: 0;
}
.product-description { 
  font-size: 12px;
  letter-spacing: -0.0050em;
  line-height: 18px;
  color #4D4D4D;
  margin-top: 12px;
  margin-bottom: 0;
}
.product-price {
  color: #4D4D4D;
  font-weight: 600;
  font-size: 12px;
  margin-top: 12px;
  margin-bottom: 0;
}
.product-price--compared {
  color: #888888;
  text-decoration: line-through;
  font-weight: 400;
  padding-left: 4px;
}
.product-button-wrapper {
  position: relative;
  margin-top: 24px;
  transform: translateY(-2px);
  width: 298px;
  height: 48px;
  box-sizing: border-box;  
  background-color: #ffffff;
  
}
.product-button {
  width: 298px;
  height: 48px;
  color: #111111;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #111111;
  position: relative;
}
.product-button:hover {
  color: #ffffff;
  background-color: #111111;
}
.product-button:before {
  content:"";
  position: absolute;
  right: -3px;
  top: 3px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #111111;
  border-right: 1px solid #111111;
  z-index: -1;
}
.loading-state {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.loading-state svg {
  height: 20px;
  width: 20px;
}

@media (min-width: 768px) {
  .product-title {
    font-size: 24px;
  }
  .products-carousel .products-carousel--title {
    font-size: 48px;
  }
  .product-button-wrapper {
    width: 328px;
  }
  .product-button {
    width: 328px;
  }
}